@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;

    /* font-family: 'Montserrat', sans-serif; */
}


html{
   
}


body {
    font-family: 'Montserrat', sans-serif;
}


nav {
    background: #7B0400;
    height: 80px;
    width: 100%;

}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    font-weight: 600;
    padding: 0 100px;
    cursor: pointer;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 17px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;

}

a.active,
a:hover {
    background: #FFB606;
    transition: .5s;
}

.check-btn {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .check-btn {
        display: block;
    }



    ul {
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #01060ae5;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
    background: #FFB606;
    }

    #check:checked~ul {
        left: 0;
    }
}

section {
    background: url(./images/bg1.jpg);
    background-size: cover;
    height: calc(100vh - 80px);
}

.clgimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height:80%;
    margin-top: 2%;
}
.inst{
    position: relative;
    left: 5%;
    border-bottom: 2px solid blue;
}
.line{
    border-bottom:2px solid  #7B0400;
    width:100px;
    font-size: 30px;
    margin-left:3%;
}
.paragraph{
    margin-left: 10%;
    margin-right: 10%;
}
.para2{
    margin-left: 10%;
    margin-right: 10%;
}
.steps{
    margin-left:27%;
}
.enjoy{
    color:#7B0400;
}